@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a class="nav-link text-dark" asp-area="Dashboard" asp-controller="Home" asp-action="Index">Go to Dashboard (This is for testing, you will need to login in the actual app).</a>
</div>
